h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
}
body{
    height: 200vh;
}

/* header div */
div#header {
    /* border: 3px solid red; */
    /* height: 400vh; */
}

/* ======================================================= */
/* div for the container of both images */
div#image-container {
    /* border: 3px solid green; */
    position: relative;
}

/* div for the main header image */
img#img-header {
    position: relative;
    width: 100%;
    display: block;
}
image#img-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(255,0,0,1),
        rgba(255,0,0,1)
    );
    pointer-events: none;
}

/* child height */
img#img-header-banner-wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}

/* ================== information in the header section=========================== */

/* information div */
div#info-container {
    position: absolute;
    top: 40vh;
    left: 30vw;
    transform: translate(-50%, -50%);
    color: white;

    font-size: 3vh;
}

h1#header-h1, p#header-p {
    margin-bottom: 2vh;
}


/* =====================button section========================= */

button {
    background-color: #de6c17;
    border: none;
    padding: 2vh 2vw 2vh 2vw;
    color: white;
    border-radius: 10px;
}
/* ====================our services section========================= */
div#our-services{
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}
h1#services-header{
    font-size: 5vh;
    margin-bottom: 1vh;
}
p#services-p{
        color: grey;
    font-size: 3vh;
}
/* =========================cards at the bottom of the page==================== */
div#cards-wrapper{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2vw;
    text-align: center;
    margin-top: 5vh;
    /* border: 3px solid red; */
    justify-content: center;
}
div#card{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    /* width: 100%; */
    max-width: 300px;
    text-align: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    

}
img#card-img{
    border-radius: 10px;
    width: 100%;
}