h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
}

body {
    height: 180vh;
}

/* header div */
div#header {
    /* border: 3px solid red; */
    /* height: 400vh; */
}

/* ======================================================= */
/* div for the container of both images */
div#image-container {
    /* border: 3px solid green; */
    position: relative;
}

/* div for the main header image */
img#img-header {
    position: relative;
    width: 100%;
    display: block;
}

image#img-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 0, 1));
    pointer-events: none;
}

/* child height */
img#img-header-banner-wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}

/* ================== information in the header section=========================== */

/* information div */
div#info-container {
    position: absolute;
    top: 40vh;
    left: 30vw;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vh;
    margin-left: 5vw;
    margin-right: 20vw;
}

h1#header-h1,
p#header-p {
    margin-bottom: 2vh;
}


/* =====================button section========================= */
button {
    background-color: #de6c17;
    border: none;
    padding: 2vh 2vw 2vh 2vw;
    color: white;
    border-radius: 10px;
}

button#alt {
    background-color: white;
    color: #de6c17;
    font-size: 1vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* ====================our services section========================= */
div#our-services {
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}

h1#services-header {
    font-size: 5vh;
    margin-bottom: 1vh;
}

p#services-p {
    color: grey;
    font-size: 3vh;
}

/* =========================cards at the bottom of the page==================== */
div#cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2vw;
    margin-top: 5vh;
    /* border: 3px solid red; */
    justify-content: center;
}

div#card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    /* width: 100%; */
    max-width: 350px;
    /* text-align: center;
    align-items: center; */
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

img#card-img {
    /* border-radius: 10px; */
    width: 100%;
}

h2#card-header,
p#card-p,
button#alt {
    padding-right: 1vw;
    padding-bottom: 1vh;
    padding-left: 1vw;
}

h2#card-header {
    padding-top: 1vh;
}

p#card-p {
    color: grey;
}

button#alt {
    padding-bottom: 2vh;
}

/* =========================RESPONSIVENESS==================== */
@media(max-width: 1024px) {
    body {
        height: 160vh;
    }

    /* Header text */
    div#info-container {
        top: 20vh;
        left: 30vw;
        font-size: 2.5vh;
    }

    /* Services section */
    h1#services-header {
        font-size: 4vh;
    }

    p#services-p {
        font-size: 2vh;
    }

    div#cards-wrapper {
        grid-template-columns: repeat(1, max-content);
        gap: 4vw;
    }

    div#card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1vw;
        max-width: 600px;
    }

    img#card-img {
        width: 100%;
        height: 100%;
    }

    button#alt {
        font-size: 2vh;
    }
}

@media(max-width: 768px) {
    body {
        height: 160vh;
    }

    /* Header text */
    div#info-container {
        top: 15vh;
        left: 35vw;
        font-size: 2vh;
        margin-left: 1vw;
    }

}

@media(max-width: 480px) {
    body {
        height: 230vh;
    }

    div#image-container,
    img#img-header {
        height: 50vh;
    }

    img#img-header {
        object-fit: cover;
    }

    /* Header text */
    div#info-container {
        top: 25vh;
        left: 30vw;
        font-size: 2vh;
        margin-left: 1vw;
    }

    p#services-p {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    div#cards-wrapper {
        grid-template-columns: repeat(1, max-content);
        gap: 4vw;
    }

    div#card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1vw;
        max-width: 300px;
    }

    img#card-img {
        width: 100%;
        height: 100%;
    }
}